# Arch packaging artifacts (if building locally without Docker)
packaging/arch/src/
packaging/arch/pkg/
packaging/arch/*.pkg.tar.xz
packaging/arch/*.pkg.tar.zst
packaging/arch/.BUILDINFO
packaging/arch/.MTREE
packaging/arch/.PKGINFO

# Build output
dist/
