#!/usr/bin/make -f
OPENVPN_VERSION = 2.7.4
OPENVPN_URL     = https://build.openvpn.net/downloads/releases/openvpn-$(OPENVPN_VERSION).tar.gz
BUILD_DIR       = $(CURDIR)/packaging/debian/build
OPENVPN_TARBALL = $(BUILD_DIR)/openvpn-$(OPENVPN_VERSION).tar.gz
OPENVPN_BUILD   = $(BUILD_DIR)/openvpn-$(OPENVPN_VERSION)

%:
	dh $@

override_dh_auto_configure:
	mkdir -p $(BUILD_DIR)
	[ -f $(OPENVPN_TARBALL) ] || wget -q -O $(OPENVPN_TARBALL) $(OPENVPN_URL)
	tar xzf $(OPENVPN_TARBALL) -C $(BUILD_DIR)
	patch -p1 -d $(OPENVPN_BUILD) < $(CURDIR)/patches/openvpn-$(OPENVPN_VERSION)-aws.patch
	cd $(OPENVPN_BUILD) && autoreconf -fi
	cd $(OPENVPN_BUILD) && ./configure \
		--disable-lzo \
		--disable-lz4 \
		--disable-plugins \
		--disable-pkcs11 \
		--disable-systemd \
		--with-crypto-library=openssl

override_dh_auto_build:
	$(MAKE) -C $(OPENVPN_BUILD)

override_dh_auto_install:
	install -Dm755 $(OPENVPN_BUILD)/src/openvpn/openvpn \
		$(CURDIR)/debian/aws-vpn-systemd/usr/bin/acvc-openvpn
	install -Dm755 $(CURDIR)/src/aws-vpn \
		$(CURDIR)/debian/aws-vpn-systemd/usr/bin/aws-vpn
	install -Dm755 $(CURDIR)/src/dns-up \
		$(CURDIR)/debian/aws-vpn-systemd/usr/lib/aws-vpn-systemd/dns-up
	install -Dm755 $(CURDIR)/src/dns-down \
		$(CURDIR)/debian/aws-vpn-systemd/usr/lib/aws-vpn-systemd/dns-down
	install -Dm644 $(CURDIR)/src/00-openvpn-resolved.rules \
		$(CURDIR)/debian/aws-vpn-systemd/usr/share/polkit-1/rules.d/00-openvpn-resolved.rules
	install -dm755 $(CURDIR)/debian/aws-vpn-systemd/usr/lib/systemd/system
	sed 's/wheel/sudo/g' $(CURDIR)/src/system_aws-vpn@.service \
		| install -m644 /dev/stdin \
		$(CURDIR)/debian/aws-vpn-systemd/usr/lib/systemd/system/aws-vpn@.service
	install -Dm644 $(CURDIR)/src/user_aws-vpn@.service \
		$(CURDIR)/debian/aws-vpn-systemd/usr/lib/systemd/user/aws-vpn@.service
	install -Dm755 $(CURDIR)/src/aws-vpn-sleep \
		$(CURDIR)/debian/aws-vpn-systemd/usr/lib/systemd/system-sleep/aws-vpn
	install -Dm644 $(CURDIR)/src/connected.html \
		$(CURDIR)/debian/aws-vpn-systemd/usr/share/aws-vpn-systemd/connected.html
	install -dm755 $(CURDIR)/debian/aws-vpn-systemd/etc/openvpn/client

override_dh_auto_clean:
	rm -rf $(BUILD_DIR)
