[Unit]
Description=AWS Client VPN for %I
After=syslog.target network-online.target
Wants=network-online.target
Documentation=man:openvpn(8)
Documentation=https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage
Documentation=https://community.openvpn.net/openvpn/wiki/HOWTO
Documentation=https://github.com/nicktelford/aws-vpn-systemd

[Service]
Type=simple
User=openvpn
Group=network
KillMode=process

ConfigurationDirectory=openvpn/client
RuntimeDirectory=openvpn-client/%i
WorkingDirectory=/run/openvpn-client/%i

Restart=on-failure
ExecStart=/opt/awsvpnclient/Service/Resources/openvpn/acvc-openvpn \
  --suppress-timestamps --nobind --config /etc/openvpn/client/%i.conf \
  --management /run/openvpn-client/%i/mgmt.sock unix \
  --management-client-group network \
  --management-hold --management-query-remote --management-query-passwords \
  --script-security 2 \
  --up /opt/awsvpnclient/Service/Resources/openvpn/configure-dns

RestrictNamespaces=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
ReadWritePaths=/var/log/aws-vpn-client/ /run/openvpn-client/%i/
RestrictSUIDSGID=yes
DevicePolicy=closed
DeviceAllow=/dev/net/tun rw
AmbientCapabilities=CAP_IPC_LOCK CAP_NET_ADMIN CAP_NET_RAW
CapabilityBoundingSet=CAP_IPC_LOCK CAP_NET_ADMIN CAP_NET_RAW
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_PACKET AF_NETLINK
NoNewPrivileges=yes
LimitNPROC=10

[Install]
WantedBy=multi-user.target
