[Unit]
Description=AWS Client VPN for %I
Documentation=man:openvpn(8)
Documentation=https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage
Documentation=https://community.openvpn.net/openvpn/wiki/HOWTO
Documentation=https://github.com/nicktelford/aws-vpn-systemd

[Service]
Type=notify
NotifyAccess=all
KillMode=process

WorkingDirectory=/tmp

ExecStart=bash /usr/local/bin/aws-vpn %i

PrivateTmp=yes
DevicePolicy=closed
ProtectSystem=strict
ProtectHome=read-only

[Install]
WantedBy=multi-user.target
