[Unit]
Description=AWS Client VPN for %I
Documentation=man:openvpn(8)
Documentation=https://openvpn.net/community-resources/reference-manual-for-openvpn-2-6/
Documentation=https://github.com/nicktelford/aws-vpn-systemd

[Service]
Type=notify
NotifyAccess=all

Restart=on-failure
RestartSec=2s
RestartMaxDelaySec=60s

TimeoutStartSec=300
EnvironmentFile=-/etc/default/aws-vpn-systemd
ExecStart=/usr/bin/aws-vpn %i

DevicePolicy=closed

[Install]
WantedBy=default.target
